cliq_ocr_automation.json
{
  "name": "CliQ Free Cloud OCR Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-osama-ocr",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook (Receive Order)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300],
      "webhookId": "osama-wear-ocr-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ocr.space/parse/image",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            { "name": "apikey", "value": "helloworld" },
            { "name": "base64Image", "value": "={{'data:image/jpeg;base64,' + $json.body.payment_proof}}" }
          ]
        },
        "options": {}
      },
      "name": "HTTP Request (Free OCR space)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.ParsedResults[0].ParsedText}}",
              "operation": "contains",
              "value2": "osamawear"
            }
          ]
        }
      },
      "name": "OCR Validation Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [720, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\",\n  \"text\": \"Payment verified successfully.\"\n}",
        "options": {}
      },
      "name": "Respond to Webhook (Success)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"failed\",\n  \"text\": \"Payment validation failed. Could not confirm receipt.\"\n}",
        "options": {}
      },
      "name": "Respond to Webhook (Failure)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 400]
    }
  ],
  "connections": {
    "Webhook (Receive Order)": {
      "main": [[{"node": "HTTP Request (Free OCR space)","type": "main","index": 0}]]
    },
    "HTTP Request (Free OCR space)": {
      "main": [[{"node": "OCR Validation Check","type": "main","index": 0}]]
    },
    "OCR Validation Check": {
      "main": [
        [{"node": "Respond to Webhook (Success)","type": "main","index": 0}],
        [{"node": "Respond to Webhook (Failure)","type": "main","index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "f784e8b3-3dfa-4ec6-8c43-2df73bc4f3a9"
}
