osama_wear_stats_workflow.json
{
  "name": "osama.wear — Daily Stats",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "osama-wear-stats",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "stats-webhook",
      "name": "Stats Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "osama-wear-stats"
    },
    {
      "parameters": {
        "operation": "getAll",
        "documentId": {
          "value": "YOUR_GOOGLE_SHEET_ID_HERE",
          "__rl": true,
          "mode": "id"
        },
        "sheetName": {
          "value": "Orders",
          "__rl": true,
          "mode": "name"
        },
        "returnAll": true,
        "options": {}
      },
      "id": "read-sheet",
      "name": "Read Orders Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const today = new Date().toISOString().split('T')[0];\nconst rows = $input.all().map(i => i.json);\n\nconst todayRows = rows.filter(r => {\n  const rowDate = r['Order Date'] || '';\n  return rowDate === today || rowDate.startsWith(today);\n});\n\nconst totalOrders = todayRows.length;\nconst totalProfit = todayRows.reduce((sum, r) => {\n  const val = parseFloat(r['Total Price ($)'] || r['Grand Total ($)'] || 0);\n  return sum + (isNaN(val) ? 0 : val);\n}, 0);\n\nreturn [{ json: { totalOrders, totalProfit: Math.round(totalProfit * 100) / 100, date: today } }];"
      },
      "id": "calc-stats",
      "name": "Calculate Stats",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "respond-stats",
      "name": "Respond with Stats",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Stats Webhook": {
      "main": [[ { "node": "Read Orders Sheet", "type": "main", "index": 0 } ]]
    },
    "Read Orders Sheet": {
      "main": [[ { "node": "Calculate Stats",   "type": "main", "index": 0 } ]]
    },
    "Calculate Stats": {
      "main": [[ { "node": "Respond with Stats", "type": "main", "index": 0 } ]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": ["osama.wear", "stats"],
  "pinData": {}
}
